<!DOCTYPE html>
<html>
  <head>
    <title>Webshop</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <header id="header">
      <div id="logo">
        <img src="/images/logo.png" alt="Logo" id="logo-slika" />
      </div>
      <h1 id="naslov">Dobrodošli!</h1>
      <div id="slike">
        <a href="cart"
          ><img src="/images/cart.png" alt="Kolica" id="kolica"
        /></a>
        <p id="kosarica-broj">0</p>
        <img src="/images/povecalo.png" alt="Povecalo" id="povecalo" />
      </div>
    </header>
    <article id="main">
      <h2 id="text-dobrodosli">
        Dućan s najnižim cijenama i najvećom kvalitetom!
      </h2>
      <img src="/images/market.jpg" alt="glavna slika" id="main-slika" />
    </article>
    <nav id="nav">
      <ul id="kategorije"></ul>

      <ul id="kontakt">
        <li><button>Kontakt</button></li>
        <li><button>Newsletter</button></li>
        <li><button>Pretplati se</button></li>
      </ul>
    </nav>
    <article id="proizvodi"></article>
    <script src="/scripts/script.js"></script>
  </body>
</html>
